<ion-view view-title="Tempo Atendimento">
<ion-content>
	<div ng-show="status" class="card2">
		<div class="cardWrap">
			<div class="card1 cardLeft">
				<h1>{{ticket.name}}</h1>
				<div class="name1">
					<span>Name :</span>
					<h5>Vladimir Kudinov</h5>
				</div><br>
				<tr class="seat">
					<td>Senha :</td>
					<td><strong>{{random}}</strong></td>
					<td>Gerado :</td>
					<td><strong>12:00</strong></td>
				</tr>

			</div>
			<div class="card1 cardRight">
				<div class="number">
	      			<h3>{{random}}</h3>
	    
	    		</div>
				<div class="barcode"></div>
			</div>

		</div>
	</div>	
</ion-content>	
</ion-view>
